@charset "utf-8";

.body {
  font-family: 'Lato',sans-serif;
  width: 100%;
  height: 100%;
}
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}
.is-raleway {
  font-family: 'Raleway',sans-serif;
}
.main {
  padding-top: 70px;
}
.img {
  vertical-align: bottom;
}

/* header */
.header {
  background-color: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
}
.bolt_icon {
  float: left;
  color: #333;
}
.header_inner {
  padding: 15px;
}
.btn {
  font-weight: bold;
  float: right;
  background-color: #74cfae;
  color: white;
  font-size: 12px;
  padding: 14px 12px;
  cursor: pointer;
  transition: 0.3s;
  text-decoration: none;
}
.btn:hover {
  color: #333;
}
.header_menu {
  display: none;
}

/* bolt theme */
.title {
  width: 100%;
  background-color: #f2f2f2;
}
.inner {
  max-width: 1100px;
  margin:0 auto;
}
.title_inner {
  text-align: center;
  padding: 250px 0;
}
.title_inner_item {
  font-size: 90px;
  color:#74cfae;
  font-weight: 700;
  margin-bottom: 20px;
}
.title_inner_text {
  font-weight: lighter;
  font-size: 30px;
  color: #c0c0c0;
}

/* what we can do */
.section {
  background-color: #74cfae;
}
.section_inner {
  display:flex;
  padding-top: 50px;
}
.section_inner_container {
  margin-left: 200px;
  text-align: center;
  color: white;
}
.section_inner_item {
  margin-bottom: 35px;
  font-size: 24px;
}
.section_inner_text {
  font-size: 20px;
  word-break: normal;
  line-height: 30px;
}

/* our latest work */
.article {
  background-color: #f2f2f2;
}
.article_inner {
  text-align:center;
  padding: 60px 0 70px 0;
}
.article_inner_item {
  font-family: 'Raleway',sans-serif;
  color: #333;
  font-size: 24px;
  margin-bottom: 40px;
}
.article_inner_imgs {
  display: flex;
  flex-wrap: wrap;
}
.article_inner_img {
  margin: 80px 0 0 100px;
}
.article_inner_img_hover {
  display: inline-block;
  width: 300px;
  transition: 0.3s;
  opacity: 0.7;
}
.article_inner_img_hover:hover {
  opacity: 1;
}
.article_inner_img:nth-child(3n+1) {
  margin-left: 0;
}
.article_inner_img:nth-child(-n+3) {
  margin-top: 0;
}
.article_inner_container {
  margin: 90px 120px 0 120px;
  display: flex;
  align-items: center;
}
.article_inner_text {
  font-weight: lighter;
  color: #333;
  font-size: 20px;
}
.article_inner_btn {
  margin-left: 90px;
  width: 120px;
  float: none;
  padding: 14px 20px;
}

/* our skills */
.skill {
  background-color: #4e4e4e;
}
.skill_inner {
  width: 100%;
  color: white;
  text-align: center;
  padding: 70px 0 100px 0;
}
.skill_inner_container {
  display: flex;
  justify-content: center;
}
.skill_inner_item {
  font-weight: lighter;
  font-size: 24px;
  margin-bottom: 40px;
}
.skill_inner_content {
  margin-left: 180px;
}
.skill_inner_content:first-child {
  margin-left: 0;
}
.skill_inner_text {
  margin-top: 10px;
}

/* contactform */
.nav {
  background-color: #f2f2f2;
}
.nav_inner {
  padding: 200px 0;
}
.nav_inner_container {
  display: flex;
  justify-content: center;
}
.nav_inner_contents {
  text-align: center;
}
.nav_inner_btn {
  display: inline-block;
  padding: 40px;
  width: 185px;
  transition: 0.3s;
  cursor: pointer;
  box-sizing: border-box;
}
.icon {
  color: #74cfae;
}
.nav_inner_btn:hover {
  background-color: white;
}

/* footer */
.footer {
  background-color: #74cfae;
}
.footer_inner {
  padding: 20px 0 25px 0;
  text-align: right;
}
.footer_inner_text {
  color:white;
}

/* レスポンシブルデザイン */
/* tab */
@media screen and (max-width:1199px) {
  /* what we can do */
  .section_inner {
    padding-bottom: 25px; 
    display: block;
    text-align: center;
  }
  .section_inner_container {
    margin: 20px 0 0 0;
  }

  /* our latest work */
  .article_inner_imgs {
    flex-direction: column;
  }
  .article_inner_img {
    margin: 40px 0 0 0;
  }
  .article_inner_img:not(:nth-child(1)) {
    margin-top: 0; 
  }
  .article_inner_img:nth-child(3n) {
    margin-bottom: 80px;
  }
  .article_inner_img:last-child {
    margin-bottom: 0;
  }
  .article_inner_text {
    margin-top: 80px;
  }
  .article_inner_container {
    display: block;
    margin: 0;
  }
  .article_inner_btn {
    display: block;
    margin: 0 auto;
    width: 100px;
    margin-top: 40px; 
  }

  /* our skills */
  .skill_inner_container {
    flex-direction: column;
  }
  .skill_inner_content {
    margin: 88px 0 0 0;
  }
  .skill_inner_content:first-child {
    margin-top: 0;
  }

  /* contact-form */
  .nav_inner_btn {
    width: 25%;
    box-sizing: content-box;
  }
}

/* sp */
@media screen and (max-width:767px) {
  .inner {
    width: 97%;
  }
  /* header */
  .header_btn {
    display:none;
  }
  .header_menu {
    display: inline-block; 
    float: right;
  } 
  .menu_trigger {
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 40px;
    height: 25px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
  }
  .menu_trigger span {
    margin: 0 auto;
    background-color: #ddd;
    border-radius: 4px;
    height: 3px;
    width: 80%;
  }

  /* bolt theme */
  .title_inner {
    padding: 160px 0 130px 0;
  }
  .title_inner_item {
    font-size: 80px;
  }
  .title_inner_text {
    font-size: 30px;
  }

  /* contact */
  .nav_inner {
    padding: 50px 0;
  }
  .nav_inner_container {
    flex-direction: column;
  }
  .nav_inner_btn {
    width: 100%;
  }
}